<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FChat main</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="../session/static/css/bootstrap.min.css">
	
	<script src="../session/static/js/jquery.min.js"></script>
	<script src="../session/static/js/bootstrap.min.js"></script>
	<script src="../session/static/js/main.js"></script>

    <link href="../session/static/css/signup.css" rel="stylesheet">
	<link href="../session/static/css/jumbotron.css" rel="stylesheet">
    
  </head>
 
  <body>
    <div class="container">
      <div class="jumbotron">
		<center>
			<h1>FChat</h1>
			<form class="form-signin">
				<p><input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus></p>
				<p><input type="room" name="inputRoom" id="inputRoom" class="form-control" placeholder="Room" required autofocus></p>
				<p><button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Join</button></p>
			</form>
		</center>
      </div>
	  
	<footer class="footer">
		<p>&copy; FChat Group 2018</p>
	</footer>
	  
	</div>
  </body>
</html>